<form (submit)="onAddTask($event)">
  <div class="addTask">
    <input
      name="task"
      placeholder="Add new Task"
      class="newTask"
      (input)="onChangeInput($event)"
      [value]="task">
    <button
      class="addBtn"
      type="submit"
      [disabled]="task === ''"
    >Add</button>
  </div>
</form>

<app-task
  *ngFor="let task of tasks; let i = index"
  [task]="task.task"
  (delete)="onDeleteTask(i)"
  (changeTask)="onChangeTask(i, $event)"
></app-task>
