  <div class="task">
    <input
      name="newTask"
      [value]="task"
      class="addedTask"
      (input)="onChangeTask($event)">
    <button class="delBtn"><img [src]="icon" style="max-height: 20px" alt="delete" (click)="onDeleteClick()"></button>
  </div>
