.addedTask {
  width: 320px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-right: none;
}
.addedTask:focus {
  border-bottom: 2px solid red;
  outline: none;
}
.delBtn {
  padding: 6px 18px;
  cursor: pointer;
  background: white;
}
.task {
  align-items: flex-start;
  display: flex;
}
